@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#card-container {
    display: flex;
    justify-content: space-around;
    background-color: #899D78;
}

.card {
    background-color: #DA4167;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    font-family: "Mouse Memoirs", sans-serif;
}

.card img {
    width: 280px;
    height: 200px;
}

.card button {
    width: 100%;
    padding: 5px;
    border-radius: 0 0 20px 20px;
    font-family: "Mouse Memoirs", sans-serif;
}