/* https://coolors.co/palettes/popular/#899d78 */
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

:root {
    /* Variáveis de cor */
    --cor-escura: #1f0322ff;
    --cor-clara: #fbfbfb;
    --roxin: #8a1c7cff;
    --rosin: #da4167ff;
    --rosin-clara: #f0bcd4ff;
    --cor-principal: #8daee2;
    /* Variáveis de cor */

    /* Variáveis de fonte */
    --fonte-principal: "Mouse Memoirs", sans-serif;
    --fonte-gigante: 150px;
    --fonte-media: 50px
        /* Variáveis de fonte */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--rosin-clara);
}

.banner img {
    grid-column: 2/6;
    grid-row: 2/6;
    width: 100%;
    height: auto;
    /* mantém a proporção da imagem */
}

.banner .texto-foco {
    grid-column: 8/12;
    grid-row: 2/5;
    font-family: var(--fonte-principal);
    font-size: var(--fonte-gigante);
    text-align: center;
}

.banner .texto-secundario {
    grid-column: 8/12;
    grid-row: 5/6;
    font-family: var(--fonte-principal);
    font-size: var(--fonte-media);
    color: var(--roxin);
    text-align: center;
}

#card-container {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-principal);
}

.card {
    background-color: var(--rosin);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    font-family: var(--fonte-principal);
    color: var(--cor-escura);
    font-size: 25px;
}

.card img {
    width: 270px;
    height: 200px;
}

.card button {
    width: 100%;
    padding: 5px;
    border: 5px solid var(--rosin);
    border-radius: 0 0 20px 20px;
    font-family: var(--fonte-principal);
    font-size: 20px;
}

.container-footer {
    margin: 50px 204px 50px 204px;
}

footer {
    background-color: var(--roxin);
    padding: 20px;
    font-size: 14px;
    color: var(--cor-clara);
}

#layer1-footer {
    display: flex;
    justify-content: space-between;
}

.logo-footer {
    height: 80px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li {
    margin: 0 10px;
}

.footer-list a {
    color: #c7d5e0;
    text-decoration: none;
}

.footer-list a:hover {
    text-decoration: underline;
}

.footer-list img {
    width: 20px;
    /* Ajuste o tamanho dos ícones */
    height: 20px;
}


@media screen and (max-width:430px) {
    header {
        background-color: var(--cor-principal);
    }

    .banner {
        display: flex;
        flex-direction: column;
        width: 430px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }
}