/* https://coolors.co/palettes/popular/#899d78 */
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

:root {
    /* Variáveis de cor */
    --cor-escura: #1f0322ff;
    --cor-clara: #fbfbfb;
    --roxin: #8a1c7cff;
    --rosin: #da4167ff;
    --rosin-clara: #f0bcd4ff;
    --cor-principal: #8daee2;
    /* Variáveis de cor */

    /* Variáveis de fonte */
    --fonte-principal: "Mouse Memoirs", sans-serif;
    --fonte-gigante: 200px;
    --fonte-media: 50px
        /* Variáveis de fonte */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--rosin-clara);
}

.banner img {
    grid-column: 2/6;
    grid-row: 2/6;
    width: 110%;
    height: auto;
    /* mantém a proporção da imagem */
}

.banner .texto-foco {
    grid-column: 8/12;
    grid-row: 2/5;
    font-family: var(--fonte-principal);
    font-size: var(--fonte-gigante);
    text-align: center;
}

.banner .texto-secundario {
    grid-column: 8/12;
    grid-row: 5/6;
    font-family: var(--fonte-principal);
    font-size: var(--fonte-media);
    color: var(--roxin);
    text-align: center;
}

/* REPLICANDO BANNER COM FLEX */

.banner2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-box {
    font-family: var(--fonte-principal);
    font-size: var(--fonte-gigante);
}

.banner2 img {}

.texto-foco {
    font-family: var(--fonte-principal);
    font-size: var(--fonte-principal);
}

.texto-secundario {
    
}


/* REPLICANDO BANNER COM FLEX */

#card-container {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-principal);
}

.card {
    background-color: var(--rosin);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    font-family: var(--fonte-principal);
    color: var(--cor-escura);
    font-size: 25px;
}

.card img {
    width: 270px;
    height: 200px;
}

.card button {
    width: 100%;
    padding: 5px;
    border: 5px solid var(--rosin);
    border-radius: 0 0 20px 20px;
    font-family: var(--fonte-principal);
    font-size: 20px;
}